// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

@white: #fff;
@black: #000;
@my-red: #f00;
@my-yellow: #ff0;
@my-green: #0f0;
@my-cyan: #0ff;

@my-dark-green: #090;
@my-orange: #ff8800;
@my-purple: #a571ae;
@my-light-cyan: #bff;
@my-blue: #08f;
@my-off-white: #eb9;
@my-gray: #888;
@my-pink: #f48;